<div class="main">
  <div id="fetchform">
    <form>
      <p>Select the parameters to retrieve notes</p>
      <input type="checkbox" id="date" name="date" value="date" (click)="onclickDate()">
      <mat-label for="date">Date</mat-label>
      <br>
      <input type="checkbox" id="name" name="name" value="name" (click)="onclickName()">
      <mat-label for="name">Name</mat-label>
      <br>
      <br>
      <p *ngIf="checkname==true">Please add a name to search</p>
      <input [(ngModel)]="searchname" *ngIf="checkname==true" type="text" id="searchname" name="searchname" [value]="searchname" [required]="searchname" placeholder="Dimitris Valekardas">
      <br>
      <br>
      <p *ngIf="checkdate==true">Please add a date to search</p>
      <input [(ngModel)]="searchdate" *ngIf="checkdate==true" type="date" id="searchdate" name="searchdate" [value]="searchdate" [required]="searchdate">
      <br>
      <br>
      <input type="submit" (click)="onclickFetch()" value="Fetch Notes" id="fetch">
    </form>
  </div>
  <div id="tabledata">
    <table mat-table class="mat-elevation-z8">
      <tr>
        <td>
          Note
        </td>
        <td>
          Name
        </td>
        <td>
          Date
        </td>
      </tr>
      <tr *ngFor="let fetchednote of fetchednotes">
        <td>{{fetchednote.note}}</td>

        <td>{{fetchednote.name}}</td>

        <td>{{fetchednote.date}}</td>
      </tr>
    </table>
  </div>

  <br>
  <br>
  <div id="sendform">
    <form>
      <p>Please type the note, your name and the date</p>
      <mat-label for="note">Note</mat-label>
      <br>
      <input [(ngModel)]="newnote" type="text" id="note" name="note" [value]="newnote" [required]="newnote" placeholder="This is a note">
      <p *ngIf="newnote.length==0">Please add a note to be sent</p>
      <br>
      <mat-label for="name">Name</mat-label>
      <br>
      <input [(ngModel)]="name" type="text" id="name" name="name" [value]="name" [required]="name" placeholder="Dimitris Valekardas">
      <p *ngIf="name.length==0">Please add your name</p>
      <br>
      <mat-label for="name">Date</mat-label>
      <br>
      <input [(ngModel)]="date" type="date" id="date" name="date" [value]="date" [required]="date">
      <p *ngIf="date==null">Please add a date</p>
      <br>
      <br>
      <input type="submit" (click)="onclickSave()" value="Save Note" id="save">
    </form>
  </div>
</div>
